{{ 'custom-image-multicolumn.css' | asset_url | stylesheet_tag }}

<div style="background-color: {{ section.settings.background_color }}" class="image-multicolumn-main-container shopify-section">
  <ul class="image-list">
    {% for block in section.blocks %}
      {% if block.settings.image == blank %}
        <h1>Select a image</h1>
      {% else %}
        <div class="multicolumn-image">
          {{ block.settings.image | image_url: width: block.settings.image_width | image_tag: loading: 'lazy' }}
        </div>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "Images multicolumn",
    "class": "section",
    "tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "default": "#F7F1D5",
        "label": "Background color"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }, {
            "type": "number",
            "id": "image_width",
            "label": "Image width"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Images multicolumn"
      }
    ]
  }
{% endschema %}