.popular-products-slideshow-main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    padding-top: 42px;
}

.popular-products-slideshow-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.popular-products-slideshow-header-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #106572;
    padding: 8px 12px;
    height: 26px;
}

.popular-products-slideshow-header-pill p {
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #FFF;
}

.popular-products-slideshow-header > p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #222222;
}

.popular-products-slideshow-header > a {
    display: none;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #222222;
    border-radius: 12px;
    background: transparent;
    padding: 12px 80px;
    height: 48px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
    margin-top: 40px;
    text-decoration: none;
}

.popular-products-slider-banner {
    gap: 16px !important;
    padding: 0 4.10%;
}

.popular-products-slider-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #808080;
    text-transform: uppercase;
    cursor: pointer;
}

.popular-products-cards-container {
    width: 100%;
    max-width: fit-content;
    display: flex;
}

.popular-products-cards-banner {
    gap: 16px !important;
    padding: 0 5.12%;
}

.popular-products-card {
    width: 283px;
}

.popular-products-card-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 449px;
    width: inherit;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
}

.popular-products-card-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-products-card-image-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
}

.popular-products-card-image-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 4px 12px;
    background: #22222280;
    border-radius: 12px;
}

.popular-products-card-image-badge a {
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: #FFF;
}

.popular-products-card-image-preview {
    background: #222222;
    color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding: 10px;
}

.popular-products-card-description {
    padding: 16px 0;
}

.popular-products-card-description p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #222222;
    margin: 0;
}

.popular-products-card-price {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popular-products-card-calendar {
    display: none;
}

.popular-products-card-price-discount {
    display: flex;
    gap: 8px;
}

.popular-products-card-price-discount-current {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #808080;
}

.popular-products-card-price-discount-current b {
    color: #E63217;
}

.popular-products-card-price-discount-original {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #808080;
    text-decoration: line-through;
}

.popular-products-card-price-quantity {
    display: flex;
    gap: 8px;
}

.popular-products-card-price-percentage {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: #FFF;
    border-radius: 12px;
    padding: 2px 12px;
    height: 24px;
    background: #106572;
}

.popular-products-card-price-qty {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    color: #222222;
    border-radius: 12px;
    padding: 2px 12px;
    height: 24px;
    background: #F7C156;
}

.popular-products-card-button {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.popular-products-card-button-label {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    color: #222222;
    text-align: center;
}

.popular-products-card-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #222222;
}

.popular-products-no-product-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

@media screen and (min-width: 750px) {
    .popular-products-slideshow-main-container {
        flex-direction: row;
        gap: 40px;
        padding: 48px 1.11% 48px 3.61%;
        overflow: auto;
    }

    .popular-products-slideshow-main-container::-webkit-scrollbar {
        display: none;
    }

    .popular-products-slideshow-header {
        align-items: flex-start;
        gap: 0;
    }

    .popular-products-slideshow-header > p {
        font-size: 34px;
        line-height: 46px;
        text-align: left;
        margin-top: 16px;
    }

    .popular-products-slideshow-header > a {
        display: flex;
    }

    .popular-products-slider-banner {
        padding: 0;
    }

    .popular-products-card {
        width: 343px;
    }

    .popular-products-card-image-preview {
        display: none;
    }

    .popular-products-card-price {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6px;
    }

    .popular-products-card-calendar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 16px;
    }

    .popular-products-card-calendar span,
    .popular-products-card-calendar p {
        color: #808080;
    }

    .popular-products-card-calendar span {
        width: 18px;
        height: 18px;
    }

    .popular-products-card-calendar p {
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }

    .popular-products-card-button {
        margin-top: 16px;
    }
}