.main-container {
    margin: 24px 8.61% 40px 8.61%;
    border-radius: 10px;
    padding: 15px 0;
}

.image-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    object-fit: contain;
    height: 35.98px;
}

@media screen and (max-width: 749px) {
    .main-container {
        margin: 32px 5.12% 68px 5.12%;
        padding: 24px 8.61%;
    }

    .image-list {
        flex-direction: column;
        gap: 28px;
    }
}